/* Grundstil */
body {
  padding: 0 ;
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f2de;
  color: #333;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Header */
.header {
  text-align: center;
  padding: 2rem 1rem;
  width: 70%;
}

.header h1 {
  border-bottom: 2px solid #aadcb0;
  color: #ff6b35;
  margin: 0;
  padding-bottom: 10px;
}

/* Container */
.main {
    width: 70%;
  max-width: 1100px;
  margin: auto;
  padding: 0;
  background: #ffffff;
  border-radius: 15px;
}

/* drachen-container */
.drachen-container {
    text-align: center;
  background: #ff6b35;
  color: #fffaec;
  padding: 1.2rem;
  margin-top: 0;
  border-radius: 15px 15px 0 0 ;
}

.drachen-heading-box{
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
  gap: 10px;
}

.drachen-container p {
  text-align:start;
  background-color: #f9f2de;
  color: #000;
  font-size: 14px;
  padding: 15px;
  border-radius: 5px;
  line-height: 1.2em;
}

/* Portionen */
.portionen {
  margin: 1.5rem 0;
  text-align: center;
  margin: 2.5rem 0 2.5rem 0;
}

.portionen label{
    background-color: #d7f8db;
    padding: 15px 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.portionen input{
    width: 5%;
}


/* Content */
.content {
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  gap: 1.5rem;
  width: 100%;
  padding: 1.5rem;
}

/* brauhen */
.brauchen {
  background: #f2f0dc;
  padding: 1rem;
  border-radius: 12px;
  width: 20%;
}

.brauchen h3{
    border-bottom: 2px solid #aadcb0;
    padding-bottom: 0.5rem;
}

.brauchen ul {
  list-style: none;
  padding: 0;
}

.brauchen ul li span{
    font-weight: bold;
}

.brauchen li {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0.3rem;
  font-size: 14px;
  border-bottom: 1px solid lightgray;
  margin: 5px;
}

/* Machen */
.machen {
  padding-bottom: 0.5rem;
  width: 60%;
  margin-right: 50px;
  
}

.machen h3{
  border-bottom: 2px solid #aadcb0;
  padding-bottom: 0.5rem;
  margin-left: 20px;
}

.machen ol {
  padding-left: 1.2rem;
  
}

.machen li {
  padding-bottom: 1.2rem;
  margin-bottom: 1.5rem;
  font-size: 14px;
  border-radius: 10px;
  border-left: 4px solid #aadcb0;
  padding: 10px;
}


/* Mobile */
@media (max-width: 600px) {
 .content {
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  gap: 1.5rem;
  width: 100%;
  padding: 1rem;
}

.machen {
  padding-bottom: 0.5rem;
  width: 75%;
  margin-right: 50px;
  
}
.brauchen {
  padding-bottom: 0.5rem;
  width: 75%;
  margin-right: 50px;
  
}
}

/** Popup */
.popup{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.popup-content{
  background-color: #fff;
  width: 500px;
  position: relative;
  border-radius: 15px;;
  padding: 20px;
}

.close{
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 24px;
  cursor: pointer;
}

.info-icon{
  cursor: pointer;
}







/* Tablet */
@media (min-width: 600px) {
  .content {
    flex-direction: column; 
  }
}

/* Desktop */
@media (min-width: 900px) {
  .content {
    flex-direction: row; 
  }

  .brauchen {
    width: 35%;
  }

  .machen {
    width: 65%;
  }
}
